@import "../../style/variables";
@import "../../style/mixins";

.container__header-logo {
    @include flexContainer(center, row);
    .image {
        height: 30px;
        width: 30px;
        margin: 0 0.5rem;
        background-image: url("../../../public/image/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    h2 {
        font-style: italic;
        color: $third-color;
        font-size: 1rem;
        span {
            font-size: 1rem;
            color: $secondary-color;
        }
    }
}
