@import "../../style/variables";
@import "../../style/mixins";


.home {
    @include container;
    @include flexContainer(flex-start, row);
    padding: 0 1.8rem;
    height: 85vh;

    .image {
        height: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        background-clip: border-box;
    }
    h1 {
        font-size: 1.6rem;
        color: $primary-color;
    }   
}
