@import "../../style/variables";
@import "../../style/mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial;

    .container__header {
        @include container;

        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        align-items: center;
        padding: 1.5rem 1rem;
        font-weight: lighter;
        letter-spacing: 0.11rem;
    }
}
