@import "../../style/variables";
@import "../../style/mixins";


.container__header-nav {
    ul {
        list-style: none;
        @include flexContainer(center, row);
        li {
            & + li {
                margin-left: 1rem;
            }
            a {
                text-decoration: none;
                color: $text-color;
                font-size: 1rem;
                transition: 0.4s;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}