@mixin container {
    max-width: $container-width;
    padding: 1.5rem 0;
    margin: 0 auto;
}
@mixin flexCenter($justifyContent, $diretionContent) {
    display: flex;
    align-items: center;
    justify-content: $justifyContent;
    flex-direction: $diretionContent;
}