@import "./variables";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial;

    .container__header {
        @include container;
        @include flexCenter(space-between, row);
        flex-wrap: wrap;
        padding: 1.5rem 1rem;
        font-weight: lighter;
        letter-spacing: 0.11rem;

        &-logo {
            @include flexCenter(space-between, row);
            .image {
                height: 20px;
                width: 20px;
                margin:0 0.5rem;
                background-image: url("../../public/image/logo.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                filter: drop-shadow(16px 16px 20px rgb(48, 47, 47));
            }
            h2 {
                font-style: italic;
                font-size: 1.3rem;
                color: $third-color;

                span {
                    font-size: 1.3rem;
                    color: $secondary-color;
                }
            }
        }
        &-nav {
            ul {
                list-style: none;
                @include flexCenter(space-between, row);
                li {
                    & + li {
                        margin-left: 8px;
                    }
                    a {
                        text-decoration: none;
                        color: $text-color;
                        font-size: 0.8rem;
                        transition: 0.4s;
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
        &-social__media {
            ul {
                list-style: none;
                @include flexCenter(space-between, row);
                li {
                    font-size: 1.4rem;
                    margin-left: 10px;
                    color: $text-color;
                    transition: 0.4s;
                    &:hover {
                        color: $third-color;
                    }
                }
            }
        }
    }
}
