@import "../../style/variables";
@import "../../style/mixins";

.container__header-social__media {
    ul {
        list-style: none;
        @include flexContainer(center, row);
        li {
            & + li {
                margin-left: 1rem;
            }
            cursor: pointer;
            font-size: 1rem;
            color: $text-color;
            transition: 0.4s;
            &:hover {
                color: $third-color;
            }
        }
    }
}
